body {
    padding-top: 70px;
}

#canvas-scroll {
    width: 100%;
    overflow: scroll
}

.content p {
    line-height: 150%;
}

canvas {
    border: 1px solid lightgray;
    border-radius: 0.375rem;
    width: 100%;
    height: 100%;
}

.navbar-custom {
    background-color: #337ab7;
}
