body{
	padding-top: 70px;
}

#canvas-scroll {
	width: 100%;
    overflow: scroll
}

.content p{
	line-height: 150%;
}

canvas{
	margin-top: -1px;
	margin-left: -1px;
}

#canvas-scroll{
	border: 1px solid black;
}

.navbar-custom{
    background-color: #337ab7;
}
